*/__pycache__/*
*.ome.zarr/
test*.zarr/

# Test artifacts
.pytest_cache/

# Build artifacts
dist/
build/

# Documentation build artifacts
site/

# Test data artifacts
test_znimg.ome.zarr/
*.ome.zarr/
*.nii
*.nii.gz
